$default-background: hsl(0, 0%, 0%);
$primary-color: hsl(25, 97%, 53%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-light-gray: hsl(217, 12%, 63%);
$neutral-medium-gray: hsl(216, 12%, 54%);
$neutral-dark-blue: hsl(213, 19%, 18%);
$neutral-very-dark-blue: hsl(216, 12%, 8%);
$base-font-size: 15px;
$header-font-size: 22px;
